
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Italianno&family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
#logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;          
  object-fit: cover;
  border: 4px solid #00e5ff;
  box-shadow: 0 0 25px #00e5ff;
  margin-bottom: 1px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

#name {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  color: #ff38e8;
}

#va {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  color: #00e5ff;
  
}


#voice {
  width: 250px;
  margin: 15px 0;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364,transparent 70%);   
  mix-blend-mode: screen;      
}

#btn {
  display: flex;
  align-items: center;
  gap: 10px;
 background: linear-gradient(135deg, #00e5ff 0%, #ff38e8 100%);
  color: black;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

#btn img {
  width: 22px;
}

#btn:hover {
  background: linear-gradient(135deg,#ff38e8   0%, #00e5ff 100%);
  box-shadow: 0 0 15px #ffffff;
  letter-spacing: 2px;
}
